<div class="container">
    <div class="section-inner-padding sections-darker">

        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#rawLocationModal">
            View Raw JSON
        </button>

        <h2 class="h3 sub-header">Residency Information</h2>




        <form class="form-inline form-inline-display ng-pristine ng-valid">
            <div class="form-group">
                <p>Start Date</p>
                <p class="h5 ng-binding" data-ng-bind="currResidency.startDate"></p>
            </div>
            <div class="form-group">
                <p>Start Type</p>
                <p class="h5 ng-binding" data-ng-bind="currResidency.startType"></p>
            </div>
            <div class="form-group">
                <p>uuid</p>
                <p class="h5 ng-binding" data-ng-bind="currResidency.uuid"></p>
            </div>


        </form>
    </div>




    <div>
        <!-- Individuals -->
        <table class="table">
            <tr>
                <h3>Individual</h3>
            </tr>
            <tr>
                <th></th>
                <th>uuid</th>
                <th>first</th>
                <th>last</th>
                <th>gender</th>
                <th>extId</th>
            </tr>
            <tr ng-repeat="ind in indivs">
                <td><button ng-click="selectIndividual(ind)">select</button></td>
                <td>{{ind.uuid}}</td>
                <td>{{ind.firstName}}</td>
                <td>{{ind.lastName}}</td>
                <td>{{ind.gender}}</td>
                <td>{{ind.extId}}</td>
            </tr>
        </table>

        <!-- Location -->
        <table class="table">
            <tr>
                <h3>Location</h3>
            </tr>
            <tr>
                <th></th>
                <th>Name</th>
                <th>extId</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
            <tr ng-repeat="loc in locs">
                <td><button ng-click="selectLocation(loc)">select</button></td>
                <td>{{loc.name}}</td>
                <td>{{loc.extId}}</td>
                <td>{{loc.type}}</td>
                <td>{{loc.description}}</td>
            </tr>
        </table>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="rawLocationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <pre>{{currResidency | json}}</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
